body{
    margin: 50px;
    padding: 5px;
}

main{
    margin: 50px;
    padding: 5px;
}
.about-bio{
    text-align: left;
    padding-bottom: 100px;
}


img{
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
    position: center;

}